<h3>Tools</h3>

<br />

<table>

<tr>
   	<td><%= link_to 'Manage Admins', {:action => 'list'}, :method => :post %></td>
</tr>
<tr>
    <td><%= link_to 'Manage Products', :controller => 'products' %></td>
</tr>
<tr>
    <td><%= link_to 'Manage Customers', :controller => 'customers' %></td>
</tr>
<tr>
   	<td><%= link_to 'Manage Services and "Quien somos"', :controller => 'comments' %></td>
</tr>
<tr>
    <td><%= link_to 'Manage Contacts', :controller => 'contacts' %></td>
</tr>
</table>

