<% if session[:admin] %>
	
	<h3>Product details</h3>
<br />
<p>
  <b>Title:</b>
  <%=h @product.title %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%=h @product.price %>
</p>

<p valign="top">
  <b>Picture:</b>
  <%= image_tag("products/#{@product.picture}", :border=>0, :style =>"vertical-align: top")%>
</p>

<p>
  <b>Created at:</b>
  <%=h @product.created_at.to_s(:short) %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @product.updated_at.to_s(:short) %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<% else %>

<table style="width:100%">
<tr>
	<td valign='top' width='230px'>
		<%= image_tag("products/#{@product.picture}", :border=>0, :style =>"vertical-align: top")%>
	</td>
	<td valign="top">
		<b><%=h @product.title %></b>
		<br/>
		<br/>
		<%= @product.description %>
		<br/>
		<br />
		<small>Precio: <%=h @product.price %> &euro; HT</small>
	</td>
</tr>
</table>
<br/>

<table>
<% for product in @products %>
	<tr>
		<td align='center' width='230px'>
			<u><%= link_to product.title, product %></u>
		</td>
	</tr>
<% end %>
</table>	
	
<% end %>